{% load common_tags %}
<div id="recipe-card-{{ recipe.pk }}" class="card m-2" style="max-width: 18rem; min-width: 200px;">
    <div class="card-header d-flex justify-content-between align-items-center">
        {{ recipe.name }}
        {% if character_pk %}
            {% if learn %}
            <form 
                hx-post="{% url 'TheWitcher:character-learn-recipe' character_pk=character_pk recipe_pk=recipe.pk %}"
                hx-target="#form-recipe"
                >
                {% csrf_token %}
                <button 
                    class="btn btn-primary"
                    >
                    <i class="fa-solid fa-book"></i>
                </button>
            </form>
            {% else %}
            <form 
                hx-post="{% url 'TheWitcher:use-recipe' character_pk=character_pk recipe_pk=recipe.pk %}"
                hx-target="#recipe-card-{{ recipe.pk }}"
                hx-swap="outerHTML"
                >
                {% csrf_token %}
                <button 
                    class="btn btn-primary"
                    title="Make"
                    >
                    <i class="fa-solid {% if recipe.category == 'formula' %}fa-flask{% else %}fa-screwdriver-wrench{% endif %}"></i>
                </button>
            </form>
            {% endif %}
        {%  endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            {{ recipe.item_crafted.name }}
            {% if character_pk and crafted_items_inventory_quantities %}
            <span class=""> x{{ crafted_items_inventory_quantities|dict_key:recipe.item_crafted.pk }}</span>
            {% endif %}
        </h5>
        {% for i in recipe.ingredients.all %}
        {{ i }}
        {% endfor %}
        <ul 
            class="card-text list-unstyled list-group"
            hx-get="{% url 'TheWitcher:recipe-ingredient-list' recipe.pk %}"
            hx-trigger="load delay:.5s">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <span class="placeholder placeholder-wave col-10"></span>
                <span class="placeholder placeholder-wave col-1"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <span class="placeholder placeholder-wave col-10"></span>
                <span class="placeholder placeholder-wave col-1"></span>
            </li>
        </ul>
    </div>
</div>